.slider {
height: 50px;
}

#lottie-container {
                              filter: grayscale(100%);
                              color: aqua !important;
                              
                            }